*{
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
	background-repeat: no-repeat;
	background-size: cover;
	text-shadow: -1px -1px 10px rgba(0, 0, 0, 1);
}
#flag{
	background-image: url("../images/rockyflag.jpg");
	background-size: cover;
	background-repeat: repeat-y;
}
.content{
	width:450px;
	margin:150px auto 0px auto;
	text-align: center;
}
#flag h1{
	font-size:60px;
	color: white;
}

nav{
	float: right;
	padding-bottom: 10px;
}

section{
	width:50%;
	float:right;
	clear:both;
}

a{
	color:white;
	font-size: 25px;
	padding:15px;
}
#wrapper p{
	text-transform: uppercase;
	color:#ff0000;
	text-align: center;
	font-size:60px;
	min-height: 285px;
	margin:0px;
}

form ul{
	margin-left: 40px;
}

form li{
	text-transform: uppercase;
	list-style-type: none;
	color:white;
	font-size:30px;
	margin-bottom: 10px;
}

#newgame,input[type="submit"]{
	padding:10px;
	width: 150px;
	margin-right: 50px;
	background: rgb(66, 184, 221); /* this is a light blue */
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    float:right;
    clear:both;
}
#newgame{
	text-align: center;
}

input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    margin-right: 40px;
}
#questionNumber{
	color:#298aa8;
	margin-right: 20px;
	float:right;
	font-size: 24px;
	text-transform: uppercase;

}